.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y;
}

.keen-slider[dir="rtl"] {
  direction: rtl;
}

.keen-slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}
