.keen-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y;
}

.keen-slider[dir="rtl"] {
  direction: rtl;
}

.keen-slider__slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

/* New styles for the second slider */
.second-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  touch-action: pan-y;
}

.second-slider__slide {
  flex-shrink: 0;
  width: auto; /* Adjust the width as needed */
  height: 100%; /* Adjust the height as needed */
  position: relative;
}

.arrow {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: #333; /* Arrow color */
  z-index: 2;
}

.arrow--left {
  left: 10px;
}

.arrow--right {
  right: 10px;
}

.arrow--disabled {
  fill: #ccc; /* Disabled arrow color */
  pointer-events: none;
}
